{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Blog{% endblock %}</title>
</head>

<body>

{% block nav %}
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="">Blog</a></li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <section id="blog" class="container">

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{{ post.date }}</span>
                                        <center><span><i class="fa fa-user"></i> <a href="#">{{ post.writer }}</a></span></center>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">

                                    <h2>{{ post.title|safe }}</h2>
                                    <h3>{{ post.body|safe }}</h3>
                                </div>

                            </div>
                            <div id="disqus_thread"></div>
                            <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://akshat0910-herokuapp-com.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        </div><!--/.blog-item-->
                    </div><!--/.col-md-8-->


                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form" action="." method="get">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->


                    <div class="widget categories">
                        <h3>Categories</h3>
                        {% if categories %}
                        <div class="row">
                            <div class="col-sm-6">
                            <ul class="blog_category">
                                {% for c in categories %}
                                    <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>There are no categories.</p>
                            </div>
                        </div>
                        {% endif %}
                    </div><!--/.categories-->
                </aside>
            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
    {% endblock %}
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
